* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header>.contenitore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
}

.header>.contenitore>.header-box-1 {
    margin-left: 20px;
}