* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

.header>.contenitore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
}

.header>.contenitore>.header-box-1 {
    margin-left: 20px;
}

/* MAIN */

.contenitore-sezioni-main {
    display: flex;
    justify-content: center;
    min-height: 800px;
}

.main>.primo-main {
    background-color: rgb(106, 176, 220);
    min-height: 300px;
}

/* sezione colonne */

.secondo-main-box2 {
    min-width: 600px;
}

.secondo-main-box1 {
    line-height: 50px;
}

.primo-main-box1>h1 {
    text-align: center;
    padding: 10px;
}

.secondo-main-box2 {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    width: 30%;
}

.titolo-main-box2 {
    border: 1px solid black;
    text-align: center;
}

.contenuto-main-box2 {
    display: flex;
    align-items: stretch;
    min-height: 400px;
    border: 1px solid black;
}

/* sezione 2 */

.sezione-team {
    text-align: center;
    margin: 20px;
    border: 1px solid black;

}

.sezione-team-contenuto {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;


}